<h1>Your Solution Here Hello</h1>
<table class=" table row-border hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">memoryAllocation</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let faasInfo of faasInfoById">
            <td> {{faasInfo.id}}</td>
            <td>{{faasInfo.name}}</td>
            <td>{{faasInfo.description}}</td>
            <td>{{faasInfo.memoryAllocation * faasInfo.usage.instances}}</td>
            <td>{{faasInfo.usage.state}}</td>
            <!--<td>{{faasInfo.usage | async | json}}{{faasInfo.usage.instances}}</td>-->


        </tr>

    </tbody>
</table>